@import './theme/default.css';

html,
body {
    background: var(--gray-step-1);
}

* {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Axiforma-Regular';
}

button.bg-disabled {
    color: var(--text-color-disabled);
}

button:not(.bg-disabled):hover {
    background: var(--gray-step-0);
}

button.bg-secondary:not(.bg-disabled):hover {
    color: var(--white);
    background: linear-gradient(90.11deg, var(--bg-primary) 2.54%, var(--bg-tertiary) 99.88%)
}