@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    ascent-override: 100%;
    font-family: 'Axiforma-Regular';
    src: url('/fonts/Axiforma-Regular.otf');
}

@font-face {
    ascent-override: 100%;
    font-family: 'Axiforma-SemiBold';
    src: url('/fonts/Axiforma-SemiBold.otf');
}

@font-face {
    ascent-override: 100%;
    font-family: 'Axiforma-Bold';
    src: url('/fonts/Axiforma-Bold.otf');
}

:root {
    --text-primary: #1f64b1;
    --text-secondary: #4d96d1;
    --text-tertiary: #0f4888;
    --text-color: #505050;
    --text-color-disabled: #aaa;

    --bg-disabled: #dadada;

    --bg-primary: #1f64b1;
    --bg-secondary: #4d96d1;
    --bg-tertiary: #0f4888;

    --white: #fff;
    --gray-step-0: #fafafa;
    --gray-step-1: #ebebeb;

    --font-regular: 'Axiforma-Regular';
    --font-semibold: 'Axiforma-SemiBold';
    --font-bold: 'Axiforma-Bold';
}